@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 41 33% 100%;
    --foreground: 41 73% 3%;
    --muted: 41 26% 91%;
    --muted-foreground: 41 13% 31%;
    --popover: 0 0% 99%;
    --popover-foreground: 41 73% 2%;
    --card: 0 0% 99%;
    --card-foreground: 41 73% 2%;
    --border: 41 12% 90%;
    --input: 41 12% 90%;
    --primary: 41 95% 57%;
    --primary-foreground: 0 0% 0%;
    --secondary: 41 14% 88%;
    --secondary-foreground: 41 14% 28%;
    --accent: 41 14% 88%;
    --accent-foreground: 41 14% 28%;
    --destructive: 12 84% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 41 95% 57%;
    --chart-1: 41 95% 57%;
    --chart-2: 41 14% 88%;
    --chart-3: 41 14% 88%;
    --chart-4: 41 14% 91%;
    --chart-5: 41 98% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 41 36% 1%;
    --foreground: 41 36% 98%;
    --muted: 41 26% 9%;
    --muted-foreground: 41 13% 69%;
    --popover: 41 36% 2%;
    --popover-foreground: 41 36% 99%;
    --card: 41 36% 2%;
    --card-foreground: 41 36% 99%;
    --border: 41 12% 11%;
    --input: 41 12% 11%;
    --primary: 41 95% 57%;
    --primary-foreground: 0 0% 0%;
    --secondary: 41 18% 15%;
    --secondary-foreground: 41 18% 75%;
    --accent: 41 18% 15%;
    --accent-foreground: 41 18% 75%;
    --destructive: 12 84% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 41 95% 57%;
    --chart-1: 41 95% 57%;
    --chart-2: 41 18% 15%;
    --chart-3: 41 18% 15%;
    --chart-4: 41 18% 18%;
    --chart-5: 41 98% 57%;
  }
}


/* @layer base {

  :root {
    --background: 51 36% 95%;
    --foreground: 51 5% 7%;
    --card: 51 36% 90%;
    --card-foreground: 51 5% 10%;
    --popover: 51 36% 95%;
    --popover-foreground: 51 95% 7%;
    --primary: 51 100% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 51 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 13 30% 85%;
    --muted-foreground: 51 5% 35%;
    --accent: 13 30% 80%;
    --accent-foreground: 51 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 51 5% 90%;
    --border: 51 30% 50%;
    --input: 51 30% 18%;
    --ring: 51 100% 63%;
    --radius: 1rem;
  }

  .dark {
    --background: 51 36% 7%;
    --foreground: 51 5% 90%;
    --card: 51 36% 7%;
    --card-foreground: 51 5% 90%;
    --popover: 51 36% 5%;
    --popover-foreground: 51 5% 90%;
    --primary: 51 100% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 51 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 13 30% 15%;
    --muted-foreground: 51 5% 60%;
    --accent: 13 30% 15%;
    --accent-foreground: 51 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 51 5% 90%;
    --border: 51 30% 18%;
    --input: 51 30% 18%;
    --ring: 51 100% 63%;
    --radius: 1rem;
  }

} */

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}